In [1]:
import pymongo
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
print(client.address, "Port =", client.PORT, "Host =", client.HOST, client.next)

('localhost', 27017) Port = 27017 Host = localhost <bound method MongoClient.__next__ of MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)>

In [2]:
dbs = client.list_database_names()
#[db for db in dbs]
#% Now let's create a new database called cinema
mydb = client["cinema"]

In [3]:
dblist = client.list_database_names()
if "cinema" in dblist:
    print("The database exists.")

The database exists.

In [4]:
mycol = mydb["movies"]

In [5]:
addedCollection = mydb.list_collection_names()
if "movies" in addedCollection:
    print("Hey don't  WORRY movies  Collection is added successfully")
else:
    print("It seems like your collection hasn't been added")

Hey don't  WORRY movies  Collection is added successfully

In [6]:
import pandas as pd
import json

datafile = pd.read_csv("datsets/movies.csv")

In [7]:
datafile.head()

,_id,awards.nominations,awards.text,awards.wins,cast,directors,genres,languages,lastupdated,rated,released,title,year
0,61636ec15dae1c1507e1f172,63,Won 11 Oscars. Another 116 wins & 63 nominations.,127,"[""Leonardo DiCaprio"",""Kate Winslet"",""Billy Zan...","[""James Cameron""]","[""Drama"",""Romance""]","[""English"",""French"",""German"",""Swedish"",""Italia...",NaN,PG-13,1997-12-19T00:00:00.000Z,Titanic,1997
1,61636ec15dae1c1507e1f173,106,Won 2 Oscars. Another 142 wins & 106 nominations.,144,"[""Christian Bale"",""Heath Ledger"",""Aaron Eckhar...","[""Christopher Nolan""]","[""Action"",""Crime"",""Drama""]","[""English"",""Mandarin""]",NaN,PG-13,2008-07-18T00:00:00.000Z,The Dark Knight,2008
2,61636ec15dae1c1507e1f174,22,Won 1 Oscar. Another 51 wins & 22 nominations.,52,"[""Rumi Hiiragi"",""Miyu Irino"",""Mari Natsuki"",""T...","[""Hayao Miyazaki""]","[""Animation"",""Adventure"",""Family""]","[""Japanese""]",NaN,PG,2003-03-28T00:00:00.000Z,Spirited Away,2001
3,61636ec15dae1c1507e1f175,6,Won 3 Oscars. Another 6 wins & 6 nominations.,9,"[""Humphrey Bogart"",""Ingrid Bergman"",""Paul Henr...","[""Michael Curtiz""]","[""Drama"",""Romance"",""War""]","[""English"",""French"",""German"",""Italian""]",2015-09-04 00:22:54.600000000,PG,1943-01-23T00:00:00.000Z,Casablanca,1942

In [8]:
datafile.tail()

,_id,awards.nominations,awards.text,awards.wins,cast,directors,genres,languages,lastupdated,rated,released,title,year
0,61636ec15dae1c1507e1f172,63,Won 11 Oscars. Another 116 wins & 63 nominations.,127,"[""Leonardo DiCaprio"",""Kate Winslet"",""Billy Zan...","[""James Cameron""]","[""Drama"",""Romance""]","[""English"",""French"",""German"",""Swedish"",""Italia...",NaN,PG-13,1997-12-19T00:00:00.000Z,Titanic,1997
1,61636ec15dae1c1507e1f173,106,Won 2 Oscars. Another 142 wins & 106 nominations.,144,"[""Christian Bale"",""Heath Ledger"",""Aaron Eckhar...","[""Christopher Nolan""]","[""Action"",""Crime"",""Drama""]","[""English"",""Mandarin""]",NaN,PG-13,2008-07-18T00:00:00.000Z,The Dark Knight,2008
2,61636ec15dae1c1507e1f174,22,Won 1 Oscar. Another 51 wins & 22 nominations.,52,"[""Rumi Hiiragi"",""Miyu Irino"",""Mari Natsuki"",""T...","[""Hayao Miyazaki""]","[""Animation"",""Adventure"",""Family""]","[""Japanese""]",NaN,PG,2003-03-28T00:00:00.000Z,Spirited Away,2001
3,61636ec15dae1c1507e1f175,6,Won 3 Oscars. Another 6 wins & 6 nominations.,9,"[""Humphrey Bogart"",""Ingrid Bergman"",""Paul Henr...","[""Michael Curtiz""]","[""Drama"",""Romance"",""War""]","[""English"",""French"",""German"",""Italian""]",2015-09-04 00:22:54.600000000,PG,1943-01-23T00:00:00.000Z,Casablanca,1942

In [9]:
data = datafile.to_dict(orient="records")

In [10]:
data

[{'_id': '61636ec15dae1c1507e1f172',
  'awards.nominations': 63,
  'awards.text': 'Won 11 Oscars. Another 116 wins & 63 nominations.',
  'awards.wins': 127,
  'cast': '["Leonardo DiCaprio","Kate Winslet","Billy Zane","Kathy Bates"]',
  'directors': '["James Cameron"]',
  'genres': '["Drama","Romance"]',
  'languages': '["English","French","German","Swedish","Italian","Russian"]',
  'lastupdated': nan,
  'rated': 'PG-13',
  'released': '1997-12-19T00:00:00.000Z',
  'title': 'Titanic',
  'year': 1997},
 {'_id': '61636ec15dae1c1507e1f173',
  'awards.nominations': 106,
  'awards.text': 'Won 2 Oscars. Another 142 wins & 106 nominations.',
  'awards.wins': 144,
  'cast': '["Christian Bale","Heath Ledger","Aaron Eckhart","Michael Caine"]',
  'directors': '["Christopher Nolan"]',
  'genres': '["Action","Crime","Drama"]',
  'languages': '["English","Mandarin"]',
  'lastupdated': nan,
  'rated': 'PG-13',
  'released': '2008-07-18T00:00:00.000Z',
  'title': 'The Dark Knight',
  'year': 2008},
 {'_id': '61636ec15dae1c1507e1f174',
  'awards.nominations': 22,
  'awards.text': 'Won 1 Oscar. Another 51 wins & 22 nominations.',
  'awards.wins': 52,
  'cast': '["Rumi Hiiragi","Miyu Irino","Mari Natsuki","Takashi Naitè"]',
  'directors': '["Hayao Miyazaki"]',
  'genres': '["Animation","Adventure","Family"]',
  'languages': '["Japanese"]',
  'lastupdated': nan,
  'rated': 'PG',
  'released': '2003-03-28T00:00:00.000Z',
  'title': 'Spirited Away',
  'year': 2001},
 {'_id': '61636ec15dae1c1507e1f175',
  'awards.nominations': 6,
  'awards.text': 'Won 3 Oscars. Another 6 wins & 6 nominations.',
  'awards.wins': 9,
  'cast': '["Humphrey Bogart","Ingrid Bergman","Paul Henreid","Claude Rains"]',
  'directors': '["Michael Curtiz"]',
  'genres': '["Drama","Romance","War"]',
  'languages': '["English","French","German","Italian"]',
  'lastupdated': '2015-09-04 00:22:54.600000000',
  'rated': 'PG',
  'released': '1943-01-23T00:00:00.000Z',
  'title': 'Casablanca',
  'year': 1942}]

In [11]:
mydb.movies.insert_many(data)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': '61636ec15dae1c1507e1f172'}, 'errmsg': 'E11000 duplicate key error collection: cinema.movies index: _id_ dup key: { _id: "61636ec15dae1c1507e1f172" }', 'op': {'_id': '61636ec15dae1c1507e1f172', 'awards.nominations': 63, 'awards.text': 'Won 11 Oscars. Another 116 wins & 63 nominations.', 'awards.wins': 127, 'cast': '["Leonardo DiCaprio","Kate Winslet","Billy Zane","Kathy Bates"]', 'directors': '["James Cameron"]', 'genres': '["Drama","Romance"]', 'languages': '["English","French","German","Swedish","Italian","Russian"]', 'lastupdated': nan, 'rated': 'PG-13', 'released': '1997-12-19T00:00:00.000Z', 'title': 'Titanic', 'year': 1997}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [ ]:
print(mydb.collection_names())

In [ ]:
newmovie1 = {
    "awards.nominations": 63,
    "awards.text": "Won 11 Oscars. Another 116 wins & 63 nominations.",
    "awards.wins": 127,
    "cast": ["Leonardo DiCaprio", "Kate Winslet", "Billy Zane", "Kathy Bates"],
    "directors": ["James Cameron"],
    "genres": ["Drama", "Romance"],
    "languages": ["English", "French", "German", "Swedish", "Italian", "Russian"],
    "lastupdated": 2010,
    "rated": "PG-13",
    "released": "1997-12-19T00:00:00.000Z",
    "title": "Titanic",
    "year": "1997"
}
mydb.movies.insert_one(newmovie1)

In [ ]:
moviesList = [{
    "awards.nominations": 63,
    "awards.text": "Won 20 Oscars. Another 50 wins & 50 nominations.",
    "awards.wins": 200,
    "cast": ["Kathy Bates"],
    "directors": ["James Cameron"],
    "genres": ["Drama", "fight"],
    "languages": ["French", "German", ],
    "lastupdated": 1998,
    "rated": "PG-20",
    "released": "1997-12-19T00:00:00.000Z",
    "title": "head shot",
    "year": "1997"
}, {
    "awards.nominations": 9,
    "awards.text": "Won 11 Oscars. Another 116 wins & 63 nominations.",
    "awards.wins": 3,
    "cast": ["Kate Winslet", "Billy Zane", "Kathy Bates"],
    "directors": ["Billy Zane Cameron"],
    "genres": ["Drama", "action", "adrenaline"],
    "languages": ["English", "French", ],
    "lastupdated": 2019,
    "rated": "PG-13",
    "released": "1997-12-19T00:00:00.000Z",
    "title": "Now you see me",
    "year": "2011"
}, {
    "awards.nominations": 20,
    "awards.text": "Won 11 Oscars. Another 116 wins & 63 nominations.",
    "awards.wins": 50,
    "cast": ["Leonardo DiCaprio", "Kate Winslet", "Billy Zane", "Kathy Bates"],
    "directors": ["James Cameron"],
    "genres": ["Drama", "Romance"],
    "languages": ["English", "French", "German", "Swedish", "Italian", "Russian"],
    "lastupdated": 2020,
    "rated": "PG-13",
    "released": "1997-12-19T00:00:00.000Z",
    "title": "catch me if you can",
    "year": "1993"
}, {
    "awards.nominations": 19,
    "awards.text": "Won 11 Oscars. Another 50 wins & 63 nominations.",
    "awards.wins": 20,
    "cast": ["Leonardo DiCaprio", "Kathy Bates"],
    "directors": ["James Cameron"],
    "genres": ["Drama", "Romance"],
    "languages": ["German", "Swedish", "Italian"],
    "lastupdated": 2020,
    "rated": "PG-13",
    "released": "1997-12-19T00:00:00.000Z",
    "title": "can you hear me ",
    "year": "1999"
}, ]
mydb.movies.insert_many(moviesList)

In [ ]:
movie1 = mydb.movies.find_one({"year": "1999"})
print(movie1)

In [ ]:
movies1997 = mydb.movies.find({"year": "1997"})
#print all the the films that has been done in 1997
[movie for movie in movies1997]

In [ ]:
print("the number of the movies in the databse are ", mydb.movies.count())

In [ ]:
print("we have ", mydb.movies.find({"lastupdated": 2020}).count(), "updated in 2020")

In [ ]:
result = mydb.movies.update_many({"year": "1999"}, {"$inc": {"awards.wins": 10}})
print("The number of the updates collection is \n ", result.matched_count)

In [ ]:
result = mydb.movies.update_one({"title": "catch me if you can"}, {"$set": {"awards.nominations": "200"}})
if result.acknowledged == "true":
    print("update  is done  \n ")
else:
    print("no document wih the following criteria")

In [ ]:
# iterate throught the list using pyhton iter
moviesTitles = mydb.movies.distinct("title")
print("all the movies titles")
list(iter([moviesTitles]))

In [ ]:
print("the number of movies that has  awards.wins  > 20  is  : \n",
      mydb.movies.find({"awards.wins": {'$gt': 20}}).count())

In [ ]:
movies2022 = mydb.movies.find({"lastupdated": {"$lte": 2022}})
print("movies found updated before 2022 \n ")
[movie for movie in movies2022]

In [ ]:
print("movies  aren't updated in 2020")
movies2022 = mydb.movies.find({"lastupdated": {"$ne": 2020}})
[movie for movie in movies2022]

In [ ]:
moviess = mydb.movies.find({"lastupdated": {"$in": [2019, 2020]}})
print("movies updated in 2019 and 2020")
[movie for movie in moviess]

In [ ]:
moviess = mydb.movies.find({"lastupdated": {"$nin": [2015, 2011]}})
print("movies  updated date is in 2015 and 2011 :\n")
[movie for movie in moviess]

In [ ]:
moviess = mydb.movies.find({"title": {"$not": {"$eq": "can you hear me "}}})
print("Movies  where the title is not equal to  can you hear me")
it = iter(moviess)
i = 0
while it.__next__():
    i = i + 1
    print("Movie number :", i, it.next())

In [ ]:
moviess = mydb.movies.find({"$or": [{"year": "1999"}, {"lastupdated": {"$nin": [2015, 2011]}}]})
print("movies are \n ")
num = 0
for i in moviess:
    num = num + 1
    print("Movie number ", num, i)

In [ ]:
moviess = mydb.movies.find(
    {"$nor": [{"year": "2011"}, {"lastupdated": {"$nin": [2005, 2006]}}, {"awards.nominations": {"$gte": 10}}]})
[movie for movie in moviess]

In [ ]:
#the year must be less than 2022 or the "awards.wins" is less than 50
# AND the rate must be PG-13
# Or  the title is not equal  to "can you hear me "
from bson.json_util import dumps
from bson.json_util import loads

moviess = mydb.movies.find({
    "$and": [
        {"$or": [{"year": {"$lt": 2022}}, {"awards.wins": {"$lte": 50}}]},
        {"$or": [{"rated": "PG-13"}, {"title": {"$not": {"$eq": "can you hear me "}}}]},
    ]
}).limit(1)
print(loads(dumps(moviess)))

In [ ]:
#their year is has string type
# and their title exists
# Skip  the first one and limit the result by 3 items(movies )
results = mydb.movies.find({"$and": [{"year": {"$type": "string"}}, {"title": {"$exists": "true"}}]}).skip(1).limit(3)
print(" the result of the 3 movies is \n")
[i for i in results]

In [ ]:
#that their year is has string type  and the title exists
result = mydb.movies.find({"$and": [{"year": {"$type": "string"}}, {"title": {"$exists": "true"}}]}).next()
print(result)

In [ ]:
try:
    upatedfilm = mydb.movies.update_one({"title": "Titanic"}, {"$set": {"title": "THE Titanic film"}})
    if upatedfilm.modified_count >= 1:
        print("The Movie Name updated successully")
    else:
        print("This movie name doesn't exist")
except SyntaxError as s:
    print("None of the data found to be updated ", s)

In [ ]:
# don't  forget to catch erros
try:
    res = mydb.movies.replace_one({"_id": "61636ec15dae1c1507e1f172"}, {"awards.nominations": 63,
                                                                        "awards.text": "Won 11 Oscars. Another 116 wins & 63 nominations.",
                                                                        "awards.wins": 127,
                                                                        "cast": ["Leonardo DiCaprio", "Kate Winslet",
                                                                                 "Billy Zane", "Kathy Bates"],
                                                                        "directors": ["James Cameron"],
                                                                        "genres": ["Drama", "Romance"],
                                                                        "languages": ["English", "French", "German",
                                                                                      "Swedish", "Italian", "Russian"],
                                                                        "lastupdated": 1998,
                                                                        "rated": "PG-13",
                                                                        "released": "1997-12-19T00:00:00.000Z",
                                                                        "title": "THE Titanic",
                                                                        "year": 1997})
    if res.modified_count >= 1:
        print("The Movie with the id 61636ec15dae1c1507e1f172  has been replaced with a new info")
    else:
        print("This movie with the id 61636ec15dae1c1507e1f172 doesn't  try another id ")
except IndexError as i:
    print("No data can be managed", i)

In [ ]:
try:
    updateResult = mydb.movies.update_many({}, {"$inc": {"awards.wins": 10}})
    if updateResult.raw_result:
        print("Number of documents updated is :\n")
        print(updateResult.matched_count)
    else:
        print(" 0 movies  updated")
except Exception as e:
    print("An exception occurred ::", e)

finally:
    print("The  update  is Done ! ")

In [ ]:
try:
    updateResult = mydb.movies.update_many({"year": {"$gte": 1997}},
                                           {"$inc": {"awards.wins": 10}}, )
    print("Number of documents updated on the MongoDB collection movies:")
    print(updateResult.matched_count)
except Exception as e:
    print("An exception occurred ::", e)
finally:
    print("The  update  is Done ! ")

In [ ]:
try:
    updateResult = mydb.movies.update_many({"languages": {"$size": 6, "$all": ["French"]}},
                                           {"$push": {"languages": "arabic", }})
    print("Number of documents updated on the MongoDB collection movies:")
    print(updateResult.matched_count)
except Exception as e:
    print("An exception occurred ::", e)
finally:
    print(" The  update  is Done ! ")

In [ ]:
try:
    updateResult = mydb.movies.update_many({"genres": {"$size": 1}, },
                                           {"$push": {"genres": {"$each": ['ACtion'], "$position": 0}}})
    print("Number of documents updated on the  movies collection: ")
    print(updateResult.matched_count)
except Exception as e:
    print("An exception occurred ::", e)
finally:
    print(" The  update  is Done ! ")

In [ ]:
#The MONGO AGGREGATION FRAMEWORK
#Now we are going to connect  to the shared cluster of mongo db and create a new database called movie with a new big schema

In [ ]:
from pymongo.errors import OperationFailure
from pymongo import MongoClient

try:
    client = MongoClient('mongodb://localhost:27017/')
except pymongo.errors.ConnectionFailure as e:
    print("Could not connect to server:", e)

In [ ]:
client.database_names()

In [ ]:
mydb = client["cinema"]
try:
    with open('C:/Users/Haithem Mihoubi/m121/movie.json') as file:
        file_data = json.load(file)
        mydb.movie.insert_many(file_data)
except EOFError as e:
    print("Eroor has been occured ", e)
finally:
    print(" Operation has been ended ")

In [ ]:
#Problem:
#Help MongoDB pick a movie our next movie night! Based on employee polling, we've decided that potential movies must meet the following criteria.
#imdb.rating is at least 7
#genres does not contain "Crime" or "Horror"
#rated is either "PG" or "G"
#languages contains "English" and "Japanese"
# show just the "title" and the rated  field
# catch the errors and th exceptions and indicate that the operataion is done
#  the data will be  represented as Movie number 1  with title = 5 and rated = 6
try:
    documentreturned = mydb.movie.aggregate([{
        "$match": {
            "imdb.rating": {"$gte": 7},
            "genres": {"$nin": ["Crime", "Horror"]},
            "rated": {"$in": ["PG", "G"]},
            "$and": [
                {"languages": "English"},
                {"languages": "Japanese"}]
        }}, {
        "$project": {
            "_id": 0,
            "title": 1,
            "rated": 1
        }
    }])
    i = 0
    for movie in documentreturned:
        i = i + 1
        jsonMovie = json.dumps(movie)
        docMovie = json.loads(jsonMovie)
        print("THE MOVIE NUMBER  ", i, "TITLE = ", docMovie['title'], " IS Rated ", docMovie['rated'])

except BaseException as e:
    print("exception", e)
finally:
    print("THIS IS THE END OF THE OPERATION  ")

In [ ]:
##year is at least 1995
# the genres is  "Crime"or "Horror"
# project only the title and the rating in  a filed called  "The imdb Rating  is " with the value of the imdb rating
try:
    documentreturned = mydb.movie.aggregate([{
        "$match": {
            "genres": {"$in": ["Crime", "Horror"]},
            "year": {"$gte": 1995},

        }}, {
        "$project": {
            "_id": 0,
            "title": 1,
            "The imdb Rating  is ": "$imdb.rating"
        }
    }])
    if documentreturned.next:
        i = 0
        for movie in documentreturned:
            i = i + 1
            jsonMovie = json.dumps(movie)
            docMovie = json.loads(jsonMovie)
            print("THE MOVIE NUMBER  ", i, "TITLE = ", docMovie['title'], " The imdb Rating  is    ",
                  docMovie["The imdb Rating  is "])
    else:
        print(" No movie found wiht the following criteria ")
except BaseException as e:
    print("exception", e)
finally:
    print("THIS IS THE END OF THE OPERATION  ")

In [ ]:
#the awards wins are a least 1
# multiply the imdb rating + the tomatoes viewer number of reviewes  by 2 and
# project a field called the average rating
try:
    docsfound = mydb.movie.aggregate([
        {
            "$match": {
                "awards.wins": {"$gte": 1}
            }
        },
        {
            "$project": {
                "_id": 0,
                "title": 1,
                "the average rating": {
                    "$multiply": [
                        {"$sum": ["$imdb.rating", "$tomatoes.viewer.numReviews"]
                         }, 2]
                }
            }
        }
    ]
    )
    if docsfound.next:
        i = 0
        for movie in docsfound:
            i = i + 1
            jsonMovie = json.dumps(movie)
            docMovie = json.loads(jsonMovie)
            print(" MOVIE NUMBER  ", i, "TITLE = ", docMovie['title'], " THE AVERAGE RATING   is =   ",
                  docMovie["the average rating"])
    else:
        print("Nod ata find try anothe querries")
except BaseException as e:
    print("exception Occurred ", e)
finally:
    print("THIS IS THE END OF THE OPERATION  ")

In [ ]:
#Using the Aggregation Framework, find a count of the number of movies
# that have a title composed of one word.
# To clarify, "Cinderella" and "3-25" should count, where as "Cast Away" would not.
#Make sure you look into the $split String expression and the $size Array expression
try:
    counted = mydb.movie.aggregate([{
        "$project": {
            "_id": 0,
            "title": 1,
            "title_size": {
                "$size": {"$split": ["$title", " "]}
            }
        }
    }, {
        "$match": {
            "title_size": {"$eq": 1}
        }
    }])

    s = 0
    for val in counted:
        s = s + 1

    print("the number of movies  that have a title composed of one word are : \n", sum)

except OperationFailure as a:
    print("exception Occurred while operation ", a)
finally:
    print("end of operation ")

In [ ]:
try:
    movies = mydb.movie.aggregate([
        {
            "$match": {
                "title": {
                    "$type": "string"
                }
            }
        },
        {
            "$project": {
                "title": {"$split": ["$title", " "]},
                "_id": 0
            }
        },
        {
            "$match": {
                "title": {"$size": 1}
            }
        }
    ])
    counter = 0
    for val in movies:
        counter = counter + 1

    print("the number of movies  that have a title composed of one word are : \n", counter)
except OperationFailure as a:
    print("exception Occurred while operation ", a)
finally:
    print("end of operation ")

In [ ]:
try:

    movieslabor_of_love = mydb.movie.aggregate([
        {
            "$match": {
                "cast": {"$elemMatch": {"$exists": "true"}},
                "directors": {"$elemMatch": {"$exists": "true"}},
                "writers": {"$elemMatch": {"$exists": "true"}}
            }
        },
        {
            "$project": {
                "_id": 0,
                "cast": 1,
                "directors": 1,
                "writers": {
                    "$map": {
                        "input": "$writers",
                        "as": "writer",
                        "in": {
                            "$arrayElemAt": [
                                {
                                    "$split": ["$$writer", " ("]
                                },
                                0
                            ]
                        }
                    }
                }
            }
        },
        {
            "$project": {
                "labor_of_love": {
                    "$gt": [
                        {"$size": {"$setIntersection": ["$cast", "$directors", "$writers"]}},
                        0
                    ]
                }
            }
        },
        {
            "$match": {"labor_of_love": "true"}
        },
        {
            "$count": "labors of love"
        }
    ])
    count = 0
    for val in movieslabor_of_love:
        count = count + 1
    print("labor of love movies\n", count)
except OperationFailure as a:
    print("exception Occurred while operation ", a)
finally:
    print("end of operation ")

In [ ]:
#show the conatenation of countries  of the first 10 movies where and th title of each movie
# the title is string
#the countries contains USA
# project only the title of the movie and the concatenated countries
# Limit the result by 10 and skip the first 5
# sort the results  by  ascending movie title
# the output of each  film  be  Movie N  1  TITLE = titanic  usa  ksa

try:

    resultconcat = mydb.movie.aggregate([
        {
            "$match": {
                "title": {
                    "$type": "string"
                },
                "countries": {"$all": ["USA"]}
            }
        },
        {"$addFields": {
            "countries": {
                "$reduce": {
                    "input": "$countries",
                    "initialValue": "",
                    "in": {
                        "$cond": {
                            "if": {"$eq": [{"$indexOfArray": ["$countries", "$$this"]}, 0]},
                            "then": {"$concat": ["$$value", "$$this"]},
                            "else": {"$concat": ["$$value", "_", "$$this"]}
                        }
                    }
                }
            }
        }},
        {
            "$project": {
                "_id": 0, "title": 1, "countries": 1
            }
        },
        {
            "$limit": 10
        }, {
            "$skip": 5,
        },
        {
            "$sort": {"title": 1}
        }

    ])
    count = 0
    for val in resultconcat:
        count = count + 1
        jsonMovie = json.dumps(val)
        docMovie = json.loads(jsonMovie)
        print("Movie N", count, "TITLE = ", docMovie['title'], docMovie["countries"])

except Exception as a:
    print("exception Occurred while operation ", a)
finally:
    print("THIS The end of this operation ")

In [ ]:
# the title is string
# take 50 arbitrary  movies
# Limit the result by 10 and skip the first 2
# sort the results  by  ascending movie title
# THE output mus be : Movie N 1 The length of  Berlin '36  is equal to 10
try:
    themovies = mydb.movie.aggregate([
        {
            "$match": {
                "title": {
                    "$type": "string"
                },

            }
        },
        {
            "$project": {
                "_id": 0,
                "title": 1,
                "Titlelength": {"$strLenCP": "$title"}
            }
        },
        {
            "$sample": {
                "size": 20
            }
        }

        ,
        {
            "$limit": 10
        }, {
            "$skip": 2,
        },
        {
            "$sort": {"title": 1}
        },

    ])
    count = 0
    for val in themovies:
        count = count + 1
        jsonMovie = json.dumps(val)
        docMovie = json.loads(jsonMovie)
        print("Movie N", count, "The length of the title of ", docMovie['title'], " is equal to",
              docMovie["Titlelength"])

except Exception as a:
    print("exception Occurred while operation ", a)
finally:
    print("THIS The end of this operation ")

In [ ]:
#We has another movie night scheduled. This time, we polled employees for their favorite actress or actor, and got these results
#favorites = ["Sandra Bullock","Tom Hanks","Julia Roberts","Kevin Spacey","George Clooney"]
#For movies released in the USA with a tomatoes.viewer.rating greater than or equal to 3, calculate a new field called num_favs that represets how many favorites appear in the cast field of the movie.
#Sort your results by num_favs, tomatoes.viewer.rating, and title, all in descending order.
#What is the title of the 25th film in the aggregation result?
favorites = [
    "Sandra Bullock",
    "Tom Hanks",
    "Julia Roberts",
    "Kevin Spacey",
    "George Clooney"]

try:
    likeStage = mydb.movie.aggregate([
        {
            "$match": {
                "tomatoes.viewer.rating": {"$gte": 3},
                "countries": "USA",
                "cast": {
                    "$in": favorites
                }
            }
        },
        {
            "$project": {
                "_id": 0,
                "title": 1,
                "tomatoes.viewer.rating": 1,
                "num_favs": {
                    "$size": {
                        "$setIntersection": [
                            "$cast",
                            favorites
                        ]
                    }
                }
            }
        },
        {
            "$sort": {"num_favs": -1,
                      "tomatoes.viewer.rating": -1,
                      "title": -1
                      }
        },
        {
            "$skip": 24
        },
        {
            "$limit": 1
        }
    ])

    for m in likeStage:
        jsonMovie = json.dumps(m)
        docMovie = json.loads(jsonMovie)
        print("The movie number 25 is   ", docMovie['title'], "\n")

except Exception as a:
    print("exception Occurred while operation ", a)
finally:
    print("THIS The end of this operation ")

In [12]:
#Problem:
#Calculate an average rating for each movie in our collection where English is an available language,
#the minimum imdb.rating is at least 1, the minimum imdb.votes is at least 1,
# and it was released in 1990 or after.
# You’ll be required to rescale (or normalize) imdb.votes.
# The formula to rescale imdb.votes and calculate normalized_rating is included as a handout.
#What film has the lowest normalized_rating?
try:
    fetched = mydb.movie.aggregate([
        {
            "$match": {
                "year": {"$gte": 1990},
                "languages": {"$in": ["English"]},
                "imdb.votes": {"$gte": 1},
                "imdb.rating": {"$gte": 1}
            }
        },
        {
            "$project": {
                "_id": 0,
                "title": 1,
                "imdb.rating": 1,
                "imdb.votes": 1,
                "normalized_rating": {
                    "$avg": [
                        "$imdb.rating",
                        {
                            "$add": [
                                1,
                                {
                                    "$multiply": [
                                        9,
                                        {
                                            "$divide": [
                                                {"$subtract": ["$imdb.votes", 5]},
                                                {"$subtract": [1521105, 5]}
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            }
        },
        {"$sort": {"normalized_rating": 1}},
        {"$limit": 1},
    ])

    for m in fetched:
        jsonMovie = json.dumps(m)
        docMovie = json.loads(jsonMovie)
        print("The movie that has the lowest normalized_rating  is ", docMovie['title'], "with ans imdb rating = ",
              docMovie["imdb"]["rating"], "and a normalized rating  ", docMovie['normalized_rating'])

except Exception as e:
    print("exception Occurred while operation ", e)
finally:
    print("THIS The end of this operation ")

The movie that has the lowest normalized_rating  is  Saving Christmas with ans imdb rating =  1.6 and a normalized rating   1.328811715206101
THIS The end of this operation

In [27]:
#group all fields by year
try:
    numbeOfMovies = mydb.movie.aggregate([
        {
            "$match": {"awards.wins": {"$gte": 1}}
        }, {
            "$group": {
                "_id": "year",
                "count": {"$sum": 1},
                "avg_awards": {"$avg": "$awards.wins"}
            }
        }
    ])
    for m in numbeOfMovies:
        jsonMovie = json.dumps(m)
        docMovie = json.loads(jsonMovie)
        print("The movie that has the lowest normalized_rating  is ", docMovie["avg_awards"])
except Exception as e:
    print("exception Occurred while operation ", e)
finally:
    print("Operation has been done !")

The movie that has the lowest normalized_rating  is  5.5777214022140225
THIS The end of this operation

In [55]:
#of the films that have the following criteria
# the year <=2022
# the language msu be english
# the imdb votes and ratings  must be greater or equals to 1
# the title must be a string type
# the county Is USA
# The genres must be CRIMe or horror or both
# the must be either  "PG", "G" or both
# limit the result by 50 movie
#skip the  first 49 and show the 50th one as the desired result
# sort the result by ascending title and descending year
# project on the  "title" , max_rating  as the maximum rating
#  min_rating as the minimum rating
#  rating_avg as the average rating
#  ratings_std as the standard deviation average  rating
# sum_ratings as the sum of the ratings

try:

    val = mydb.movie.aggregate([
        {
            "$match": {
                "year": {"$lte": 2022},
                "languages": {"$in": ["English"]},
                "imdb.votes": {"$gte": 1},
                "imdb.rating": {"$gte": 1},
                "title": {
                    "$type": "string"
                },
                "countries": {"$all": ["USA"]},
                "genres": {"$nin": ["Crime", "Horror"]},
                "rated": {"$in": ["PG", "G"]},

            }
        },
        {"$project": {
            "_id": 0,
            "title": 1,
            "max_rating": {"$max": "$imdb.rating"},
            "min_rating": {"$min": "$imdb.rating"},
            "rating_avg": {"$avg": "$imdb.rating"},
            "ratings_std": {"$stdDevPop": "$imdb.rating"},
            "sum_ratings": {"$sum": "$imdb.rating"}
        }
        },
        {
            "$limit": 50
        },
        {
            "$skip": 49
        }, {
            "$sort": {
                "title": 1,
                "year": -1
            }
        }

    ])
    for m in val:
        jsonMovie = json.dumps(m)
        docMovie = json.loads(jsonMovie)
        print("The Film Number 50 is  ", docMovie["title"])
        print("maximum rating", docMovie["max_rating"])
        print("minimum rating", docMovie["min_rating"])
        print("average rating", docMovie["rating_avg"])
        print("Standard rating", docMovie["ratings_std"])
        print("Sum of the ratings", docMovie["sum_ratings"])
except Exception as e:
    print("exception Occurred while operation ", e)
finally:
    print("Operation has been done !")

The Film Number 50 is   The Trouble with Angels
maximum rating 7.4
minimum rating 7.4
average rating 7.4
Standard rating 0.0
Sum of the ratings 7.4
Operation has been done !

In [62]:
#calculate the standard deviation, highest, lowest, and average imdb.rating.
#Use the sample standard deviation expression.
#HINT - All movies in the collection that won an Oscar begin with a string resembling one of the following in their awards field
try:
    resTask = mydb.movie.aggregate([
        {"$match":
             {"awards":
                  {"$regex": "/^Won.*.Oscar/", "$options": "si"},
              }
         },
        {"$project":
             {"_id": 0,
              "title": 1,
              "awards": 1
              }
         }
    ])
    for m in resTask:
        jsonMovie = json.dumps(m)
        docMovie = json.loads(jsonMovie)
        print("The Film Number   ", docMovie["title"])

except Exception as e:
    print("exception Occurred while operation ", e)
finally:
    print("Operation has been done !")

Operation has been done !

In [67]:
resAggregation = mydb.movie.aggregate([
    {"$match": {
        "imdb.rating": {"$gt": 0},
        "year": {"$gte": 2010, "$lte": 2015},
        "runtime": {"$gte": 90}
    }
    },
    {"$unwind": "$genres"},
    {"$group": {
        "_id": {
            "year": "$year",
            "genre": "$genres"
        },
        "average_rating": {"$avg": "$imdb.rating"}
    }
    },
    {"$sort": {"_id.year": -1, "average_rating": -1}
     },
    {"$group": {
        "_id": "$_id.year",
        "genre": {"$first": "$_id.genre"},
        "average_rating": {"$first": "$average_rating"}
    }
    },
    {"$sort": {"_id": -1}}
])
for m in resAggregation:
    jsonMovie = json.dumps(m)
    docMovie = json.loads(jsonMovie)
    print("The Film in    ", docMovie["_id"], "genre", docMovie["genre"], "with  an average rating =",
          docMovie["average_rating"])

The Film in     2015 genre News with  an average rating = 7.8
The Film in     2014 genre News with  an average rating = 7.6000000000000005
The Film in     2013 genre Documentary with  an average rating = 7.1
The Film in     2012 genre Musical with  an average rating = 7.3
The Film in     2011 genre Sport with  an average rating = 7.307142857142857
The Film in     2010 genre Documentary with  an average rating = 7.388709677419355